body{
    margin: 0;
    padding: 0;
	background: #000000;

}

 
form{
    text-align: center;
    margin: 10px auto;
    height: 110px;
}
.btn-outline-info{
    width: 50%;
    margin: 10px auto;
}
.btn-outline-info:hover{
    font-size: 24px;
    transition: 1s;
    border: none;
}
.jumbotron{
    position: relative;
    margin: 20px auto;
    height: 300px;
}

.jumbotron > .container  img{
    position: absolute;
    left: 80%;
    /* top: 50%; */
    border-radius: 100%;
    margin: -20px auto;
}
main a{
    text-decoration: none;
    color: #000000;
}
main a:hover{
    text-decoration: none;
    color: #15771a;
    font-size: 24px;
    transition: 1s;
}
.mark{
    text-align: center;
    width: 40%;
}
.logo{
	text-align: center;
	background: #000000;
}
 .container .navbar{
    border-radius: 20px;
}

.container .nav-item:hover{
	color: #000000;
	background: #ff3939;
	border-radius: 15px;
    font-weight: 700;
}
.lead {
    width: 700px !important;
}